@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*:after,
*:before {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #efefef;
}

.controls {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.controls .left,
.controls .right {
  flex: 1; padding: 10px;
}

.input-wrapper {
  margin-bottom: 15px;
  font-size: 14px;
}

.input-wrapper label {
  display: block;
}

.input {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #111;
  padding: 5px;
}

.instructions {
  max-width: 1200px;
  margin: 0 auto;
}

.instructions code {
  font-size: 15px;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom:: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
